/* Mettre les polices dans un fichier css à part, fractionner les logiques css */
h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.hidden {
    display: none;
}




.rotate {
    display: inline-block;
    background-color: aqua;
}

.age_result_minor_hidden,
.age_result_major_hidden {
    display: none;
}


/* j'ai besoin de ce selecteur et de cet indicateur afin de rendre le contour de l'element visible pour l'accessibilité */
button.clean:focus {
  outline: 2px solid #007acc;
  outline-offset: 2px;
}

select{display: block;}

header{
    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        li{
          font-family: 'Open Sans', Courier, monospace;
          a{
            color: black;
            text-decoration: none;
            
            }
            &:hover{
              color: blue;
              a{
                color: blue;
              }
          }
          
            list-style: none;
        }
    }
    height: 50px;
    border-bottom: 1px solid black;
}



section{

  position: relative;
  padding-bottom: 6px; /* espace pour la “bordure” */
/*   
  background: linear-gradient(270deg, red, blue, green, red);
  background-size: 600% 100%;
  animation: gradientMove 5s linear infinite; */
    h3{
      color: rgba(0, 0, 0, 0.7);
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 1px 1px 2px black;
        font-size: 24px;
    }
    button{
        margin-top: 2rem;
        align-items: start;
    }
    .exercice{
        margin-bottom: 2rem;
    }
}

/* Application d'une box virtuelle du l'elment section pour la bordure animée */
section::after{
      content: "";
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height: 4px; /* épaisseur de la bordure */
  background: linear-gradient(270deg, red, blue, green, red);
  background-size: 600% 100%;
  animation: gradientMove 5s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

